<StackLayout #container>
    <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>

    <TextField #email [(ngModel)]="user.email" [isEnabled]="!isLoading" hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField #password [(ngModel)]="user.password" [isEnabled]="!isLoading" hint="Password" secure="true"></TextField>

    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapsed'"></ActivityIndicator>

    <Button [text]="isLoggingIn ? 'Sign In' : 'Sign Up'" [isEnabled]="!isLoading" class="submit-button" (tap)="submit()"></Button>
    <Button [text]="isLoggingIn ? 'Sign Up' : 'Back to Login'" [isEnabled]="!isLoading" (tap)="toggleDisplay()"></Button>

</StackLayout>
