<ActionBar title="Groceries">
    <ActionItem text="Share" (tap)="share()" android.systemIcon="ic_menu_share_holo_dark" ios.systemIcon="9" ios.position="right">
    </ActionItem>
</ActionBar>

<GridLayout rows="auto, *">
    <GridLayout row="0" columns="*, auto" class="add-bar">
        <TextField #groceryTextField [(ngModel)]="grocery" hint="Enter a grocery item" col="0"></TextField>
        <Image src="res://add" (tap)="add()" col="1"></Image>
    </GridLayout>

    <!--ListView [items]="groceryList" row="1" [class.visible]="listLoaded" class="small-spacing"-->
    <RadListView row="1" [items]="groceryList" swipeActions="true" [class.visible]="listLoaded" class="medium-spacing" (itemSwipeProgressStarted)="onSwipeCellStarted($event)">
        <ng-template let-item="item" let-i="index">
            <!--GridLayout columns="*, auto"-->
                <label [text]="item.name" class="medium-spacing"></label>
                <!--Image src="res://delete" ios:visibility="collapsed" col="1" (tap)="delete(item)"></Image>
            </GridLayout-->
        </ng-template>
        <GridLayout *tkListItemSwipeTemplate columns="*, auto">
            <StackLayout id="delete-view" col="1" (tap)="delete($event)" class="delete-view medium-spacing">
                <Image src="res://delete"></Image>
            </StackLayout>
        </GridLayout>
    </RadListView>
    <!--/ListView-->

    <ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapsed'" row="1" horizontalAlignment="center" verticalAlignment="center">
    </ActivityIndicator>
    
</GridLayout>